{% extends "base.html" %}

{% block title %}About - Book Lamp{% endblock %}

{% block content %}
<div class="card">
    <h1>About Book Lamp</h1>
    <p>Book Lamp is a minimalist personal library manager that uses Google Sheets as a database. It's designed to be
        lightweight, private and easy to use.</p>

    <div class="mt-2 pt-1 border-top">
        <p class="text-muted">
            <strong>Version:</strong> <span class="version-tag">{{ version }}</span>
        </p>
    </div>
</div>


{% endblock %}